/** {
  margin: 0px;
  padding: 0px;
}*/

body {
  background-color: black;
  background-image: url(../img/campsite-tent-night.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: top;
  margin: 0px;
  color: lightgrey;
}

header {
  width: 100%;
  height: 125px;
  background-color: #150436;
  opacity: 1;
  color: lightgrey;
  position: fixed;
  z-index: 2;
}


hgroup {
  display: inline-block;
}

nav {
  /*display: inline-block;*/
  width: 100%
}

.nav_list {
  text-align: center;
  display: inline-block;
  margin: 0% 0% 0% 0%;
}

.nav_logo {
  height: 75px;
  width: 75px;
  margin: 10px;
  display: inline-block;
}

.nav_item {
  width: 150px;
  height: auto;
  display: inline-block;
}

.section_content {
  padding-top: 125px;
  /*margin-top: 150px;*/
  display: block;
}

section {
  width: 75%;
  height: auto;
  display: inline-block;
}

.article_columns_2 {
  width: 46.5%;
  padding: 1%;
  margin: 0.5%;
  display: inline-table;
  background-color: darkgreen;
  opacity: 0.75;
  color: white;
  border-radius: 20px;
}

.article_columns_3 {
  width: 30%;
  height: 250px;
  padding: 1%;
  margin: 0.5%;
  display: inline-table;
  background-color: #4F2500;
  opacity: 0.65;
  color: white;
  border-radius: 20px;
}

aside {
  height: calc(80% - 20px);
  width: 25%;
  margin: 10px 0px 10px 75%;
  padding: 0.5% 0% 0.5% 0%;
  float: right;
  background-color: #4F2500;
  opacity: 0.85;
  border-radius: 20px;
  color: white;
  position: fixed;
  overflow-y: scroll;
  text-align: center;
}

a {
  color: white;
}

.article_image {
  margin: 1%;
  padding: 2%;
  display: inline-block;
  text-align: justify;
  /*background-color: lightgrey;
  opacity: 0.8;*/
  background: rgba(150, 150, 150, 0.8);
  border-radius: 50px;
}

.article_image>p {
  color: black;
  display: inline;
  margin: 5%;
}

.img_text_l {
  margin-right: 1%;
  float: left;
  display: inline;
  border-radius: 35px;
  background: rgba(0, 0, 0, 1.0);
}

.img_text_r {
  margin-left: 1%;
  float: right;
  display: inline;
  border-radius: 35px;
  background: rgba(0, 0, 0, 1.0);
}

ul {
  margin: 1% 0% 1% 0%;
  padding: 0%;
  text-align: center;
}

li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

h1, h3 {
  margin: 10px;
  padding: 0%;
  /*text-align: center;*/
}

p {
  text-align: justify;
  display: inline-block;
}

footer {
  width: 75%;
  text-align: center;
  display: inline-block;
}

.footer {
  color: white;
}

.title_text {
  font-family: serif;
}

 .center_this {
   text-align: center;
 }
